
#backgroundimg {
width: 150%;
height: 150%;
padding: 0%;
margin-top: -5px;
margin-bottom: -1853px;

}


.section{
padding-left: 410px;

}

body div img {
    width: 200px;
    height: 200px;
    padding: 5px;
    color: white;
    background-color: black;
}

body h1 {
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style: square;
    
}

a {
    color: rgb(0, 0, 0);
}

header h1{
    font-size: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0%;
    
}
header ul{
    font-size: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    text-decoration: underline;
    

}
 header a {
    color: gray;
 }
body div ul {
margin-top: -215px;
    margin-left: 215px;
    margin-bottom: 200px;
}

footer{
text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 0%;

}
