.ImgHead{
    background-image: url("../../images/mainBanner.jpg");
    background-position: center left 10% right 10px; 
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 60vh;
    position: relative;

    
}

.color-overlay{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.468);
}


h1{
    /* justify-content: flex-end; */
    /* top: 100px; right :600px;  */
    top: 1.8em; right: 6.5em;
    color: azure;
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    
}
h2{
    top: 4.5em; right: 5.3em;
    /* top: 75px; right :339px; */
    font-size: 1.2rem;
    font-weight: bold;
    color: palevioletred;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

nav img {
    width: 60px;
}



#footerImgContainer{
    height: 809px;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #C2D8DE,#c2d8de00);
}
#footerImg{
    width: 100vw;
    position: absolute;
    z-index: -1;
}
#footer_main{
    display: flex;
    justify-content: space-between;
    background-color: #3A3131;
    height: 250px;
    color: whitesmoke;
}
#footer_main aside{
    background-color: #3A3131;
    margin: 2%;
}

#stateSearchBox {
    border: none;
}
#searchBox{
    border: none;
}

#select{
    height: 100%;
    border-color: transparent;
    background-color:#bae9d3;
    color:rgb(0, 0, 0);
    font-size: large;
    text-shadow: 0.002 #00000069;
    text-align: center;
}

#search{
    border-color: transparent;
    color:white;
    background-color:#198754;
    padding-right: 4px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

#cardTitle {
    font-size: 1.2rem;
}


#quoteBox{
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #198754;
}

#quoteBox div{
    margin-left:75%;
}


#quoteBox h3{
    font-size: 2.1rem;
    color: white;
}

#quoteBox p{
    color: white;
}

#mainCredit{
    font-size: 16px;
}
#smallerCredit{
    margin-left: 50%;
    font-size: 13px;
}

#evenSmaller{
    margin-left: 75%;
    font-size: 10px;
}

#form {
    display: flex;
}

.container{
    display: flex;
    align-items: center;
   flex-direction: row;
    justify-content: flex-end;
    margin: 0%;
    width: 100%;
    height: 60vh;
    padding: 15%;
    
    
}

.subtext{
    margin-top: 2%;
    font-weight: bolder;
    color: palevioletred;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
    font-size: 0.5rem;

}

.subHeading{
    margin-left:3%;
    text-align: left;
    font-weight: bolder;
    font-size: larger;
}

.heading {
    text-align: center;
    margin-left:2%;
}



.form_container {
    min-width: 220px;
    font-size: 20px;
    margin-left:2%;
    padding-left: 20px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: white;
    width: 40%;
}

.cardBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardBox div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 380px;
    height: 250px;
}
.cardBox div p{
    margin: 2%;
    text-align: center;
}




.ui-autocomplete {
    list-style: none;
    background-color: white;
    width: 100px;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
* html .ui-autocomplete {
width: 100px;
max-height: 100px;
background-color: white;
  }

/* selected park from autofill displays at bottom of page this hide it
  TODO: fix without !important
*/
  .ui-helper-hidden-accessible{
    display:none !important;
}




@media (max-width: 1025px){
    #form {
        flex-direction: column;
        border-radius: 0;
    }
    #banner{
        align-items: center;
    }
    #search {
        width: 100%;
        border-radius: 0;
    }
    .form_container{
        border-radius: 0;
        padding-left: 0;
    }
    
}



@media (max-width: 768px){
    .ImgHead{
        min-height: 30vh;
    }
    .ImgHead{
        font-size: calc(1.525rem +3.3vw) ;
    }
    
}

@media only screen and (max-width: 650px) {
    .form_container{
        border-radius: 0;
        padding-left: 0;
    }
    #form {
        flex-direction: column;
        border-radius: 0;

    }
    #banner{
        align-items: center;
    }

    #select {
        text-align: center;
        border-radius: 0;
    }

    #search {
        text-align: center;
        width: 100%;
        border-radius: 0;
    }
}


@media only screen and (max-width: 650px) {
    .form_container{
        border-radius: 0;
        padding-left: 0;
    }
    #footer_main{
        display: flex;
        justify-content: space-between;
        background-color: #3A3131;
        height: 300px;
        color: whitesmoke;
    }
}