div {
    display: block;
}

/* [class*'col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
} */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.min-100-vh {
    min-height: 100vh;
}


button {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form {
    padding: 10px;
    margin: 10px;
    display: block;
} */

.home-page {
    justify-content: center;
    border: 5px;
    background-color: black;
}

h1 {
    padding: 15px;
}

#resultBox div{
    margin: 2%;
    background-color: aliceblue;
    width: 400px;
    height: 450px;
    color: black
}
