
body{
    overflow: visible;
}

button {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form {
    padding: 10px;
    margin: 10px;
    display: block;
}

p {
    margin: 10px;
    text-align: center;
}

h1 {
    padding: 15px;
}

nav img {
    width: 75%;
}

nav img:hover {
    animation: roll 0.5s;
    animation-iteration-count: 1;
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 2px rgb(158, 155, 155));
}


/* navbar animation  */
@keyframes roll{
   10%{transform: rotate(72deg);} 
   100%{transform: rotate(360deg);} 
}


#resultBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#wazeFrame {
    display: block;
}

#flagIcon {
    position: inherit;
    display: inline;
    display: inline;
    width: 40px;
    max-height: 40px;
}
#cardName{
    display: inline;
}

#footerImgContainer{
    position: relative;
    bottom: 500px;
}

#footerImg{
    width: 100%;
}
#fade{
    position: relative;
    z-index: 1;
    height: 500px;
    background-image: linear-gradient(#c2d8de, #f3f3f300)
}

.mainContent {
    background-image: linear-gradient(rgb(172, 191, 166), #c2d8de);
}
.url {
    text-align: center;
}

.parkImg{
    margin-bottom: 2%;
    width: 425px;
    max-height: 265px;
}

.home-page {
    justify-content: center;
    border: 5px;
    background-color: black;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    background-color: aliceblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 425px;
    color: black
}

.cardTitle {
    background-color: #4f854a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.home-page {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-self: end;
}