
button {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

form {
    padding: 10px;
    margin: 10px;
    display: block;
}

p {
    margin: 10px;
    text-align: center;
}

h1 {
    padding: 15px;
}


#resultBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#wazeFrame {
    display: block;
}

#flagIcon {
    position: absolute;
    left: 2px;
    display: inline;
    width: 40px;
    max-height: 40px;
}
#cardName{
    display: inline;
}


.mainContent {
    background-image: linear-gradient(rgb(157, 191, 132), rgb(96, 118, 87));
}
.url {
    text-align: center;
}

.parkImg{
    margin-bottom: 2%;
    width: 425px;
    max-height: 265px;
}

.home-page {
    justify-content: center;
    border: 5px;
    background-color: black;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    background-color: aliceblue;

    width: 425px;
    height: 1200px;
    color: black
}

.cardTitle {
    background-color: #4f854a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: #4f854a;
    border-style: solid;
    border-radius: 0, 10px,0,10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.home-page {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-self: end;
}